name: Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build Docker image
      run: docker build -t lkapilcloud/myapp:latest .

    - name: Provide tag to image
      run: docker tag lkapilcloud/myapp:latest lkapilcloud/myapp:latest

    - name: Login to Docker Hub
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Push Docker image
      run: docker push lkapilcloud/myapp:latest

    - name: Set up kubectl
      uses: steebchen/kubectl@v2.0.0
      with:
        version: latest

    - name: Install Helm
      run: |
        curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
        chmod 700 get_helm.sh
        ./get_helm.sh

    - name: Install Cert-Manager
      run: |
        kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.13.2/cert-manager.yaml

    - name: Install nginx-ingress
      run: |
        kubectl create namespace nginx-ingress
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm repo update
        helm install nginx-ingress ingress-nginx/ingress-nginx -n nginx-ingress

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/app/deployment.yaml

    - name: Run Tests
      run: |
        # Add commands to run tests here
